.main{
    min-height: 93vh;
    display: flex;
    align-items: center;
    background-image:url("../../background.jpg") ;
    background-position: center;
    background-size: cover;
}
.title{
    font-size: 95px;
}
.intro-text{
    width: 100%;
    text-align: center;
}
.buttonContainer{
    margin-top: 50px;
    display: flex;
  
    justify-content:space-evenly;
}
.landingbutton{

    width: 200px;
    height: 55px;
}

@media only screen and (min-width: 1200px){
    .buttonContainer{
        padding: 0 200px;
    }
    .title{
        padding: 0 100px;
    }
}
